<div x-data="{ file: null }"
     class="flex justify-between items-center bg-background-lighter p-5 border-2 border-border rounded w-full h-fit">

    <div class="flex justify-between items-center gap-3 w-full">

        <p x-text="file || 'nenhum arquivo foi selecionado ainda.'"
           class="overflow-hidden font-semibold text-secondary text-ellipsis text-nowrap"></p>

        <button @click="file = await pywebview.api.system.select_file()"
                x-text="file ? 'ARQUIVO SELECIONADO' : 'SELECIONAR ARQUIVO'"
                class="bg-primary px-6 py-5 rounded font-bold text-md text-white text-sm text-nowrap active:scale-95 transition-all duration-200">
        </button>

    </div>

</div>
