body {
    font-family: system-ui, sans-serif !important;
}

* {
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
}

.window-button {
    font-family: system-ui, -apple-system;
    user-select: none;
    line-height: 1;
}

.noscroll::-webkit-scrollbar {
    display: none;
}
