<div class="flex justify-between items-center border-2 bg-background-lighter p-5 border-border rounded-lg w-full h-fit">
    <div class="flex justify-between items-center gap-3 w-full">
        <p id="file-selector-display"
           class="font-semibold text-ellipsis text-nowrap text-secondary overflow-hidden">
            nenhum arquivo foi selecionado ainda.
        </p>
        <button id="file-selector-btn"
                class="bg-primary px-6 py-5 rounded-md font-bold text-md text-nowrap text-sm text-white transition-all duration-200 active:scale-95"
                onclick="select_file()">SELECIONAR ARQUIVO</button>
    </div>
</div>
